* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: .3s ease-in-out;
}

html {
    /* Ẩn thanh cuộn */
    overflow-x: hidden; 
    scroll-behavior: smooth;

    font-family: Arial, Helvetica, sans-serif;
}

.container{
    background-color: #43d6a3;
    height: 100vh;
    
}

.section-login{
    display: flex;
    justify-items: center;
    justify-content: center;
}

.section-1{
    display: none;
    justify-items: center;
    justify-content: center;
}

.title{
    text-align: center;
    /* justify-content: center; */
    color: white;
    background-color: green;
    padding: 10px;
}

.input-item{
    padding: 20px;
    justify-items: center;
    /* max-width: 200px; */
}

.updateButton{
    display: none;
    justify-items: center;
    justify-content: center;

}

.updateButton1{
    display: flex;
    justify-items: center;
    justify-content: center;
}

.button-item{
    padding: 5px;
    justify-items: center;
}

#maHang {
    max-height: 150px;
    overflow-y: auto; /* Thêm thanh cuộn dọc */
}

#suggestions {
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    display: none;
    position: absolute;
    background-color: white;
    z-index: 1;
}

.suggestion-item {
    /* padding: 8px; */
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

#suggestions1 {
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    display: none;
    position: absolute;
    background-color: white;
    z-index: 1;
}

.suggestion-item1 {
    /* padding: 8px; */
    cursor: pointer;
}

.suggestion-item1:hover {
    background-color: #f0f0f0;
}

#anNhaCungCap, #anXuatThanhPham, #anXuatHuy, #anXuatDongGoi, #anXuatXaBan{
    display: none;
}

#abc, #abc1, #abc2, #abc3, #abc4{
    display: none;
    padding: 10px;
}

#abc:hover, #abc1:hover, #abc2:hover, #abc3:hover, #abc4:hover{
    background-color: aqua;
}

.section-2{
    display: none;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
}

.section-2-item{
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
}

#transaction{
    border: 1px;
    z-index: 999999;
    padding: 10px;
    color: rgb(66, 71, 132);
    border-style: solid double;
    font-weight: bold;
    align-items: center; 
}

@media (max-width: 475px) {
    .section-1{
        display: none;
        flex-direction: column;
        justify-items: center;
        justify-content: center;
    }

    .input-item{
        padding: 10px;
        justify-items: center;
    }

    .section-login{
        display: flex;
        flex-direction: column;
        justify-items: center;
        justify-content: center;
    }
}